<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>72230838023-uf3jivdpmukqv69jrvgh9uacrib0bb9j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.72230838023-uf3jivdpmukqv69jrvgh9uacrib0bb9j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>72230838023-3i1aidrmj73g4gof5qh2dgplfnigkfv9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCuaT8Ysb7BIjxWIs6t54ST-GXBdNjEH-k</string>
	<key>GCM_SENDER_ID</key>
	<string>72230838023</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yeolsimee.moneysave</string>
	<key>PROJECT_ID</key>
	<string>moneysaving-3eaf6</string>
	<key>STORAGE_BUCKET</key>
	<string>moneysaving-3eaf6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:72230838023:ios:0bd908b111dd66cd512fa2</string>
</dict>
</plist>
